<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'ramadan/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'button/button.css' %}">
    <title></title>
  </head>
  <body>
    <h1 class="show_greeter_name">{{ name|upper }} wishes you,</h1><br>

    <video autoplay width="100%" height="auto">
      <source src="{% static 'ramadan/video/ramadan.mp4' %}" type="video/mp4">
    </video>


    <div class="jumbotron">
      <center>
      {% if share_link %}
        <h2 class="make_your_own">Share on</h2>

        <a href="https://api.whatsapp.com/send?text={{ share_link }}"><i class="fa fa-whatsapp" style="font-size:48px;color:green;"></i></a>
      {% endif %}
      <h1 class="make_own_greeting">Make your own.</h1>
      <form class="" action="{% url 'ramadan:ramadan_home' %}" method="post">{% csrf_token %}
        {{ greeter_form }}<br>
          <input type="submit" name="" value="submit" class="bubbly-button">
        </center>
      </form>
    </div>
    <hr><br>
    <h1 class="ramadan_heading">Ramadan's Images.</h1>
    <div class="image-container">
      <img class="ramadan_image" src="{% static 'ramadan/images/ramadan_back2.jpg' %}" />
      <p class="message_for_umah">{{ text1|safe }}</p>
      <img class="ramadan_image" src="{% static 'ramadan/images/ramadan_back3.jpg' %}" />
      <p class="message_for_umah">{{ text1|safe }}</p>

      <div class="line_break"></div>
    </div>
  </body>

</html>
