<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'eid_al_adha/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'button/button.css' %}">
    <title></title>
  </head>
  <body>
    <h1 class="greeter_name">{{ name|upper }} wishes you,</h1><br>
    <img src="{% static 'eid_al_adha/gifs/main.gif' %}" width="100%" height="auto">
    <hr>

    <div class="jumbotron">
      <center>
      {% if  share_link %}
        <h2 class="make_your_own">Share on</h2>

        <a href="https://api.whatsapp.com/send?text={{ share_link }}"><i class="fa fa-whatsapp" style="font-size:48px;color:green;"></i></a>
      {% endif %}
      <h1 class="make_your_own">Make you own.</h1>

      <form class="" action="{% url 'eid_al_adha:eid_al_adhar_home' %}" method="post">{% csrf_token %}
        {{ bakra_form }}
        <input class="bubbly-button" type="submit" name="" value="Enter">
      </form>
    </center>
    </div>
    <hr>
    <h2 class="eid_picture_heading">Eid's Pictures</h2>
    <div class="image-container">
      <img src="{% static 'eid_al_adha/images/cute_goat.jpg' %}" width="100%" height="auto">
      <p class="hindi-text">{{ text1|safe }}</p>
    </div>
    <div class="image-container">
      <img src="{% static 'eid_al_adha/images/Eid_Al-Adha-512.png' %}" alt="">
      <p class="hindi-text">{{ text2|safe }}</p>
    </div><br>
  </body>

</html>
